# Environment Variables
.env
.env.local
.env.production

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Cache
.cache/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Temporary folders
tmp/
temp/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db